<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid jumbo-color">
    <div class="container">
        <h1 class="display-4 title-text">Meal Day</h1>
        <p class="lead title-text">The art of organized spontaneity!</p>
    </div>
    <form th:action="@{/create}" method="GET">

        <button type="submit" class="btn btn-success title-text">Start your Journey!</button>
    </form>

</div>

<span th:replace="partials/scripts.html :: scripts"></span>
</body>
</html>