<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<!--Jumbotron-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Meal Day</h1>
        <p class="lead">The art of organized spontaneity!</p>
    </div>
    <a href="#">Start your journey</a>
</div>

<span th:replace="partials/scripts.html :: scripts"></span>
</body>
</html>