<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>


<form th:method="POST" th:action="@{/create}" class="d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
           Create your meal!
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label th:for="title">Title</label>
                <input th:id="title" name="title"  class="form-control" >
            </li>
            <li class="list-group-item">
                <label th:for="ingredients">Ingredients</label>
                <input th:id="ingredients" name="ingredients"  class="form-control">
            </li>
            <li class="list-group-item">
                <label th:for="directions">Directions(Optional)</label>
                <input th:id="directions" name="ingredients"  class="form-control">
            </li>
            <li class="list-group-item">
                <label th:for="caloriess">Macro Nutrients(Optional)</label>
                <input th:id="calories" name="ingredients"  class="form-control">
            </li>
        </ul>
    </div>
<!--MACRO INPUT-->
    <div class="card" style="width: 18rem;">
        <div class="card-header text-center">
            Macro Nutrients
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <label th:for="carbs">Carbs</label>
                <input th:id="carbs" name="carbs"  class="form-control" placeholder="Ex: 5g/10mL" >
            </li>
            <li class="list-group-item">
                <label th:for="protein">Protein</label>
                <input th:id="protein" name="protein"  class="form-control" placeholder="Ex: 5g/10mL">
            </li>
            <li class="list-group-item">
                <label th:for="fats">Fats</label>
                <input th:id="fats" name="fats"  class="form-control" placeholder="Ex: 5g/10mL">
            </li>
        </ul>
    </div>
    <br />
    <input class="btn btn-success" type="submit">
</form>


<section>
    <h2>Meal Bank!</h2>
    <div th:text="${userMeal}"></div>
</section>

<span th:replace="partials/scripts.html :: scripts"></span>
</body>
</html>