<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head"></head>
<body>

<h1>Create your meal!</h1>
<form th:method="POST" th:action="@{/create}">
    <label th:for="title">Title</label>
    <input th:id="title" name="title"  class="form-control" >
    <br />
   <label th:for="ingredients">Ingredients</label>
    <input th:id="ingredients" name="ingredients"  class="form-control">
    <br />
    <label th:for="directions">Directions(Optional)</label>
    <input th:id="directions" name="ingredients"  class="form-control">
    <br />
    <label th:for="caloriess">Macro Nutrients(Optional)</label>
    <input th:id="calories" name="ingredients"  class="form-control">
    <br />
    <input class="btn btn-success" type="submit">
</form>

<span th:replace="partials/scripts.html :: scripts"></span>
</body>
</html>