<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head.html :: head"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>

<div class="text-center">
    <img src="#" class="rounded" alt="profile picture">
    <h2 th:text="${user}"></h2>
</div>

<div>
    <p>Please enter a meal</p>
    <form>

    </form>
</div>

<span th:replace="partials/scripts.html :: scripts"></span>
</body>
</html>